AZURE_SPEECH_KEY=your_azure_speech_key_here
AZURE_SPEECH_REGION=your_region_here
DATA_FOLDER=temp_folder_to_save_data
SAS_TTL_SECONDS=3600
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string_here
AZURE_STORAGE_CONTAINER_NAME=your_azure_storage_container_name_here